.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.section {
  padding: 50px 100px;
}

.section-2 {
  padding: 50px 99px 50px 100px;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #454545;
}

.nav-link {
  padding-left: 0px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
}

.nav-link:hover {
  color: #e76fe7;
}

.nav-link-2 {
  left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 5px;
  background-color: #e76ee7;
  -webkit-transition: all 200ms cubic-bezier(.55, .055, .675, .19);
  transition: all 200ms cubic-bezier(.55, .055, .675, .19);
  color: #fff;
}

.nav-link-2:hover {
  background-color: #d053d0;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.primary-tab-link {
  margin-right: 5px;
  margin-left: 5px;
  background-color: #fff;
  color: #47247a;
  font-size: 16px;
}

.primary-tab-link:hover {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .05);
}

.primary-tab-link.w--current {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 6px 11px -5px #000;
  color: #47247a;
  font-size: 16px;
}

.primary-tab-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin-bottom: 30px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.secondary-tab-link {
  background-color: #fff;
  color: #47247a;
}

.secondary-tab-link.w--current {
  border-bottom: 3px solid #47247a;
  background-color: #fff;
  color: #47247a;
}

.tabs-menu-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tabs {
  width: 1200px;
  border: 1px none #000;
  background-color: transparent;
}

.tabs-2 {
  background-color: transparent;
}

.div-block {
  width: 800px;
  height: 200px;
  margin: 64px;
  background-color: #888686;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #000;
}

.image {
  width: 40px;
}

.brand-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-weave-travels {
  margin-right: 10px;
  margin-left: 20px;
  padding-right: 10px;
  border-right: 1px solid #fff;
  font-family: Verdana, Geneva, sans-serif;
  color: #fff;
  font-weight: 400;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-block {
  color: #fff;
  font-weight: 700;
}

.button {
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 20px 40px;
  float: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 5px;
  background-color: #e76fe7;
  box-shadow: 0 2px 11px -3px #000;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-size: 16px;
  text-align: center;
}

.button:hover {
  box-shadow: 0 2px 21px -7px #000;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.button.submit-button {
  width: 50%;
}

.primary-tab-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #454545;
}

.text-block-2 {
  margin-top: 10px;
  color: #fff;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #e9e9e9;
}

.text-field {
  margin-bottom: 29px;
}

.textarea {
  margin-top: 30px;
  margin-bottom: 30px;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-field-title {
  color: #424242;
}

.form-radio-title {
  color: #424242;
}

.form-text-field {
  margin-bottom: 20px;
  border-radius: 5px;
}

.grid {
  width: 1200px;
  padding-top: 20px;
  padding-bottom: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.feature-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  background-color: transparent;
}

.img-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.feature-text {
  width: 300px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}

.feature-title {
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.form-block {
  width: 600px;
}

.grid-2 {
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.div-block-11 {
  width: 600px;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 30px;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-right: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
}

.text-block-3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
}

.text-block-4 {
  color: #454545;
  font-size: 20px;
  text-align: center;
}

.text-block-5 {
  color: #454545;
  font-size: 20px;
  text-align: center;
}

.div-block-16 {
  width: 40%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #ededed;
  border-radius: 5px;
  box-shadow: 0 4px 21px -5px #000;
}

.image-2 {
  border-radius: 5px;
  box-shadow: 1px 1px 16px -4px #000;
}

.heading-2 {
  font-size: 24px;
  font-weight: 400;
}

.bold-text {
  font-weight: 300;
}

.text-block-6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.text-block-7 {
  padding-top: 21px;
  padding-bottom: 21px;
  text-align: center;
}

.link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 991px) {
  .nav-link {
    width: 50%;
    padding-right: 0px;
    color: #454545;
    text-align: center;
  }
  .nav-link-2 {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  .nav-menu {
    width: auto;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .primary-tab-menu {
    width: 100%;
  }
  .tabs {
    width: 100%;
  }
  .div-block-4 {
    height: auto;
  }
  .grid {
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .div-block-13 {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .div-block-14 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .heading {
    text-align: center;
  }
  .div-block-15 {
    width: 80%;
    margin-bottom: 50px;
    padding-right: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .text-block-3 {
    text-align: center;
  }
  .div-block-16 {
    width: 50%;
  }
  .div-block-17 {
    width: 80%;
  }
  .icon {
    color: #e76fe7;
  }
}

@media (max-width: 767px) {
  .div-block-4 {
    height: auto;
  }
  .grid {
    grid-row-gap: 16px;
    grid-template-areas: ". ." ". ." ". .";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 16px auto 16px auto 16px auto;
    grid-template-rows: auto auto auto auto;
  }
  .feature-text {
    width: 80%;
  }
  .form-block {
    width: 90%;
  }
  .div-block-11 {
    width: 90%;
  }
  .div-block-14 {
    padding-top: 20px;
  }
  .heading {
    font-size: 20px;
    line-height: 30px;
  }
  .text-block-3 {
    font-size: 16px;
    line-height: 22px;
  }
  .div-block-16 {
    width: 80%;
  }
}

@media (max-width: 479px) {
  .primary-tab-link {
    padding-right: 20px;
    padding-left: 20px;
  }
  .primary-tab-link.w--current {
    padding-right: 20px;
    padding-left: 20px;
  }
  .nav-weave-travels {
    text-align: right;
  }
  .div-block-4 {
    height: auto;
  }
  .grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .feature-text {
    width: 90%;
  }
  .div-block-12 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .div-block-14 {
    padding-bottom: 20px;
  }
  .heading {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .text-block-3 {
    font-size: 14px;
    line-height: 18px;
  }
  .text-block-4 {
    font-size: 16px;
  }
  .text-block-5 {
    font-size: 16px;
  }
}

#w-node-5eeef36e63aa-fc46a0f1 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-5eeef36e63aa-fc46a0f1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-5eeef36e63aa-fc46a0f1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-5eeef36e63b0-fc46a0f1 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-5eeef36e63b0-fc46a0f1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 479px) {
  #w-node-5eeef36e63b0-fc46a0f1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-5eeef36e63b6-fc46a0f1 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 2;
  grid-row-end: 5;
}

@media screen and (max-width: 767px) {
  #w-node-5eeef36e63b6-fc46a0f1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-5eeef36e63bc-fc46a0f1 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 2;
  grid-row-end: 5;
}

@media screen and (max-width: 767px) {
  #w-node-5eeef36e63bc-fc46a0f1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-5eeef36e63bc-fc46a0f1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

#w-node-b10bca745621-fc46a0f1 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-b10bca745621-fc46a0f1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
  }
}

#w-node-b10bca745627-fc46a0f1 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 2;
  grid-row-end: 5;
}

@media screen and (max-width: 767px) {
  #w-node-b10bca745627-fc46a0f1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-b10bca74562d-fc46a0f1 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 2;
  grid-row-end: 5;
}

@media screen and (max-width: 767px) {
  #w-node-b10bca74562d-fc46a0f1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}