body {
  padding: 0;
  margin: 0;
}


/* TESTING DEFINITIONS */

  #page-type {
    display: none;
  }

  #sharing-info {
    display: none;
  }

/* PAGES */

  .page-home {
    height: 100vh;
    background: url('mountain-edit.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -10px;
  }

  .page-full {
    display: inline-block;
    width: 100%;
    height: 100vh;
  }

  .page-mobile-feature {
    height: 100vh;
    background: url('background-outlook.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -10px;
  }

  .page-left {
    width: 50%;
    display: inline-block;
  }

  .page-right {
    width: 50%;
    display: inline-block;
    float: right;
  }  

  .page-third {
    display: inline-block;
    width: 33%;
    height: 75vh;
    float: left;
    /*background-color: #25293C;*/
  }

  .page-footer {
    height: 60px;
    background-color: #D6D5D5;
    margin-top: 80px;
  }

  .page-footer-third {
    display: inline-block;
    width: 33%;
    float: left;
  }

/* TEXT */

  .splash-header {
    margin-left: 50px;
    font-size: 40pt; /* 4vw */
    color: rgba(228, 114, 228, 1);
    font-family: 'Arial Rounded MT Bold', 'verdana', 'Arial black', 'Lucida Grande', sans-serif; 
    text-align: left;
    background-color: rgba(228, 114, 228, 0.20);
    width: 700px;
    height: 42pt;
  }

  .splash-description {
    margin-top: 5vh;
    margin-left: 50px;
    font-size: 24px; /* 1.5vw */
    color: #000000;
    font-family: 'Arial Rounded MT Bold', 'verdana', 'Arial black', 'Lucida Grande', sans-serif; 
    width: 40%;
    text-align: left;
  }

  .feature-heading-text {
    color: #000000;
    font-family: "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 30pt;
    margin-top: 200px;
    margin-bottom: 10px;
    margin-left: 50px;
    left: 50px;
    width: 300px;
  }

  ul.a {
    list-style-type: circle;
    list-style-position: outside;
    padding: 0;
    margin: 0;
  }

  ol.a {
    list-style-type: lower-alpha;
    list-style-position: outside;
    padding: 0;
    margin: 0;
  }

  .feature-body-text {
    text-align: left;
    color: #000000;
    width: 70%;
    font-family: 'HelveticaNeue-UltraLight', "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 1.4vw;
    margin-left: 10%;
  }

  .faq-title {
    text-align: left;
    color: #FF40FF;
    font-family: 'HelveticaNeue-UltraLight', "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 30px; /* 2vw */
    margin-left: 50px;
  }

  .faq-question {
    margin-top: 20px;
    text-align: left;
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 24px; /* 1.5vw */
    margin-left: 50px;
    width: 50%;
  }

  .faq-answer {
    text-align: left;
    color: #5E5E5E;
    font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 20px; /* 1.25vw */
    margin-left: 50px;
    width: 50%;
  }

  .footer-text {
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    text-align: center;
    color: #5E5E5E;
    margin-top: 30px;
    position: relative;
    text-decoration: none;
    font-size: 15px;
  }

/* PICTURES */
 
  .weave-logo {
    height: 10vh;
    margin-left: 20px;
    margin-top: 20px;
    min-height: 40px; 
    margin-bottom: 10vh;
  }

  .feature-image {
    margin-left: 10%;
    width: 80%;
    margin-bottom: 50px;
    margin-top: 40px;
  }

  .subscribed-image {
    height: 60px;
    margin-right: 20px;
  }
  .subscribed-text {
    color: #88FA4E;
    display: inline-block;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    font-size: 20px;
    margin-top: 20px;
    position: absolute;
  }

/* BUTTONS */

  .button {
    display: block;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #E472E4;
    border-radius: 40px;
    text-align: center;   
    color: #E472E4;
    font-family: "HelveticaNeue-Light", "HelveticaNeue", "Arial", "Lucida Grande", sans-serif; 
    font-size: 20px;
    width: 200px;
    margin-left: 50px;
  }

  .button:hover { 
    color: #FFFFFF;
    background-color: #E472E4;
  }

  .button-white {
    display: inline-block;
    padding: 10px;
    background-color: #E472E4;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    text-align: center;   
    color: #FFFFFF;
    font-family: "HelveticaNeue-Light", "HelveticaNeue", "Arial", "Lucida Grande", sans-serif; 
    font-size: 20px;
    width: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
  }

  .button-white:hover { 
    color: #E472E4;
    background-color: #FFFFFF;
  }

  .contact-button {
    position: absolute;
    top: 10px;
    right: 50px;
    padding: 7px;
    background-color: #FFFFFF;
    border: 1px solid #E472E4;
    border-radius: 40px;
    text-align: center;   
    color: #E472E4;
    font-family: "HelveticaNeue-Light", "HelveticaNeue", "Arial", "Lucida Grande", sans-serif; 
    font-size: 16px;
  }

  .contact-button:hover { 
    color: #FFFFFF;
    background-color: #E472E4;
  }

  .explore-footer-container {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }

  .explore-text-input {
    background-color: #FFFFFF;
    border-width: 1px;
    border-left-color: #25293C;
    border-top-color: #25293C;
    border-bottom-color: #25293C;
    color: #25293C;
    padding-left: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    font-size: 24px;
    height: 50px;
    width: 350px;
    margin-right: -5px;
  }

  .subscribe-button {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6); 
    border: 2px solid #FF40FF;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #25293C;
    width: 300px;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    font-size: 30px;
  }

  .subscribe-button:hover {
    background-color: rgba(254 , 184, 253, 0.25);
    color: #25293C;
  }

  .blog-tab-text {
    color: #FFFFFF;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    font-size: 30px;
    text-align: right;
    margin-right: 10%;
    margin-top: 40px;
  }

  .facebook-weave-group-icon {
    position: absolute;
    top: 10px;
    right: 175px;
    cursor: pointer;
    --size-facebook-weave-group-icon: 30px;
    background-size: var(--size-facebook-weave-group-icon) var(--size-facebook-weave-group-icon);
    height: var(--size-facebook-weave-group-icon);
    width: var(--size-facebook-weave-group-icon);
    background: url('facebook-logo-f-grey.svg') no-repeat;
  }

  .facebook-weave-group-icon:hover {
    --size-facebook-weave-group-icon: 30px;
    background-size: var(--size-facebook-weave-group-icon) var(--size-facebook-weave-group-icon);
    height: var(--size-facebook-weave-group-icon);
    width: var(--size-facebook-weave-group-icon);
    background: url('facebook-logo-f-magenta.svg') no-repeat;
  }

  .close-window {
    position: absolute;
    font-size: 50px;
    font-weight: 100;
    top: -10px;
    right: 10px;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    cursor: pointer;
  }

/* SIGN-UP */

  .email-input {
    -webkit-appearance: none;
    background-color: inherit !important;
    font-size: 30px;
    border: 0px;
    border-bottom: 1px solid #A3A3A3;
    text-align: center;
    color: #25293C;
    width: 60%;
    display: block;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', "HelveticaNeue-Light", "HelveticaNeue Light","Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .email-input:focus {
    color: #25293C;
    outline: 0px;
  }

  .email-input::placeholder {
    color: #25293C;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
  }

  .form-background {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #f2c1fb;
    background-color: rgb(0,0,0,0.85);
  }

  .form-pop {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 600px;
    height: 320px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding: 5px;
  }

  .consent-text {
    color: #25293C;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    text-align: center;
    display: block;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }

  .consent-checkbox {
    margin-left: 50%;
  }

  .form-error{
    display: none;
    color: #FF644E;
    text-align: center;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    padding: 2px;
  }

/*///////////////////////////////////////////////////////////////////////////*/
/*                                                                           */
/*   //      //  //////////  /////////   //////////   //          ////////   */
/*   ////   ///  //      //  //     ///      //       //          //         */
/*   // //// //  //      //  //  ////        //       //          //////     */
/*   //  //  //  //      //  //     ///      //       //          //         */
/*   //      //  //////////  /////////   //////////   //////////  ////////   */
/*                                                                           */
/*///////////////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 600px) {
  html {
    height: 100%;
  }

/* PAGES */

  .page-home {
    margin-top: -30px;
  }

  .page-features {
    display: inline;
    height: 75vh;
    background-color: #FFFFFF;
    margin-top: 30px;
  }

  .page-faq {
    display: inline-block;
    height: 75vh;
    background-color: #FFFFFF;
    margin-top: 30px;
  }

  .page-left {
    width: 100%;
    display: block;
  }

  .page-right {
    width: 100%;
    display: block;
  }

  .page-footer {
    height: 110px;
    width: 100%;
    background-color: #D6D5D5;
    display: inherit;;
  }

  .page-third {
    display: block;
    width: 100%;
    height: 65vh;
    background-color: #25293C;
  }

  .page-footer-third {
    display: inline-block;
    width: 100%;
    float: left;
  }

/* TEXT */

  .splash-header {
    margin-left: 0;
    font-size: 25pt;
    color: #000000;
    font-family: 'verdana', 'Arial black', 'Lucida Grande', sans-serif;
    text-align: center;
  }

  .splash-description {
    margin-top: 5vh;
    margin-left: 10%;
    font-size: 10pt;
    color: #000000;
    font-family: 'verdana', 'Arial black', 'Lucida Grande', sans-serif;
    width: 80%;
    text-align: center;
  }

  .feature-heading-text {
    color: #FFFFFF;
    font-family: "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 30pt;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 50px;
    left: 50px;
    width: 300px;
  }

  ul.a {
    list-style-type: circle;
    list-style-position: outside;
    padding: 0;
    margin: 0;
  }

  ol.a {
    list-style-type: lower-alpha;
    list-style-position: outside;
    padding: 0;
    margin: 0;
  }

  .feature-body-text {
    text-align: left;
    color: rgba(256, 256, 256, 0.7);
    width: 70%;
    font-family: 'HelveticaNeue-UltraLight', "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 10pt;
    margin-left: 0;
    display: none;
  }

  .faq-title {
    text-align: left;
    color: #FF40FF;
    font-family: 'HelveticaNeue-UltraLight', "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 15pt;
    margin-left: 20px;
  }

  .faq-question {
    margin-top: 20px;
    text-align: left;
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 10pt;
    margin-left: 20px;
    width: 80%;
  }

  .faq-answer {
    text-align: left;
    color: #5E5E5E;
    font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 7pt;
    margin-left: 20px;
    width: 80%;
  }

  .footer-text {
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    text-align: center;
    color: #5E5E5E;
    margin-top: 15px;
    position: relative;
    text-decoration: none;
    font-size: 15px;
  }

  .weave-paragraph {
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 60px;
    width: 80%;
    color: #25293C;
    font-size: 30px;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  }

/* PICTURES */
 
  .weave-logo {
    height: 12vh;
    margin-left: auto;
    margin-right: auto;
    min-height: 40px; 
    display: block;
    padding-top: 20px;
    margin-bottom: 5vh
  }

  .feature-image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 100%;
    margin-bottom: 0px;
    display: block;
  }

  .subscribed-image {
    height: 60px;
    margin-right: 20px;
  }
  .subscribed-text {
    color: #88FA4E;
    display: inline-block;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    font-size: 20px;
    margin-top: 20px;
    position: absolute;
  }

/* BUTTONS */

  .button {
    padding: 5px;
    background-color: #FF40FF;
    box-shadow: 1px 1px 5px #25293C;
    border-radius: 2px;
    text-align: center;   
    color: #FFFFFF;
    font-family: "HelveticaNeue-Light", "HelveticaNeue", "Arial", "Lucida Grande", sans-serif; 
    font-size: 20px;

    margin-bottom: 5vh;
    width: 80vw;
    margin-left: 9vw;
  }

  .button:hover { 
    box-shadow: 0px 0px 0px #25293C;
  }

  .video-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: auto;
    margin-left: auto;
    width: 100%
  }

  .play-button-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    background: url(play-button.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .explore-footer-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
  }

  .explore-text-input {
    background-color: #FFFFFF;
    border-width: 1px;
    border-left-color: #25293C;
    border-top-color: #25293C;
    border-bottom-color: #25293C;
    border-right-color: #25293C;
    color: #25293C;
    padding-left: 0px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    font-size: 18px;
    height: 50px;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 50px;
  }

  .subscribe-button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6); 
    border: 2px solid #FF40FF;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #25293C;
    width: 200px;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    font-size: 20px;
  }

  .subscribe-button:hover {
    background-color: rgba(254 , 184, 253, 0.25);
    color: #25293C;
  }

  .subscribed-container {
    display: none;
    margin-top: 30px;
    width: 400px;
    margin-left: -150px;
  }

/* SIGN-UP */

  .email-input {
    -webkit-appearance: none;
    background-color: inherit !important;
    font-size: 30px;
    border: 0px;
    border-bottom: 1px solid #A3A3A3;
    text-align: center;
    color: #25293C;
    width: 100%;
    display: block;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', "HelveticaNeue-Light", "HelveticaNeue Light","Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding-top: 20px;
  }

  .email-input:focus {
    color: #25293C;
    outline: 0px;
  }

  .email-input::placeholder {
    color: #25293C;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
  }

  /*.form-background {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.85);
  }*/

  /*.form-pop {
    background-color: white;
    width: 100%;
    height: 320px;
    left: 0%;
    position: relative;
    padding: 5px;
  }*/

  .consent-text {
    color: #25293C;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    text-align: center;
    display: block;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }

  .form-background {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /*background-color: rgb(0,0,0,0.85);*/
    background-color: #f2c1fb;

  }

  .form-pop {
    background-color: #FFFFFF;
    /*border-radius: 20px;*/
    width: 90%;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding: 5px;
  }

  .consent-checkbox {
    margin-left: 50%;
  }

  .form-error{
    display: none;
    color: #FF644E;
    text-align: center;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    padding: 2px;
  }

}
