html {
  width: 100vw;
  height: 100vh;
  background: #25293C;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.weave-logo {
  width: 50%;
  height: 100vh;
  display: inline-block;
}

.weave-logo-image {
  height: 80%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  min-height: 200px; 
}

.weave-signup {
  width: 50%;
  height: 100vh;
  float: right;
  display: inline-block;
}

.weave-subscribe-form {
  position: absolute;
  top: 40%;
  width: fit-content;
  left: 75%;
}

.email-input {
  -webkit-appreance: none;
  background-color: inherit !important;
  font-size: 50px;
  position: relative;
  border: 0px;
  border-bottom: 1px solid white;
  text-align: center;
  color: white;
  margin-left: -200px;
  width: 400px;
  display: block;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', "HelveticaNeue-Light", "HelveticaNeue Light","Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 100;
  letter-spacing: 1px;
}

.email-input:focus {
  color: white;
  outline: 0px;
}

.email-input::placeholder {
  color: white;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.subscribe-button {
  margin-top: 100px;
  text-align: center;
  border-radius: 60px;
  background-color: inherit; 
  border: 2px solid #FF40FF;
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  color: white;
  font-size: 14px;
  width: 400px;
  margin-left: -200px;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 100;
  font-size: 40px;
}

.subscribe-button:hover {
  background-color: #FEB8FD;
  color: #25293C;
}

.subscribed-container {
  display: none;
  margin-top: 30px;
  width: 400px;
  margin-left: -150px;
}

.subscribed-image {
  height: 60px;
  margin-right: 20px;
}

.subscribed-text {
  color: #88FA4E;
  display: inline-block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 100;
  font-size: 20px;
  margin-top: 20px;
  position: absolute;
}

@media only screen and (max-width: 800px) {
  html {
    height: 100%;
  }

  .weave-logo {
    width: 100%;
    display: block;
    height: fit-content;
  }

  .weave-logo-image {
    height: 300px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    top: 0%;
  }

  .weave-signup {
    width: 100%;
    display: block;
    height: fit-content;
  }

  .weave-subscribe-form {
    margin-top: 50px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: inherit;
  }

  .email-input {
    margin-left: 0px;
  }

  .subscribe-button {
    position: inherit;
    margin-left: auto;
    margin-top: 30px;
  }

  .subscribed-container {
    margin-left: auto;
    margin-right: auto;
  }

  .subscribed-image {
    margin-left: 40px;
  }
}
